[2018-03-26 16:37] abrahamagedewICPI opened #1 "DAQ SOW"
@kschlenker , please review the DRAFT SOW.

https://github.com/ICPI/DAQ/blob/master/SOW.md

[2018-03-27 15:43] kschlenker opened #2 "DAQ Draft membership list"
DAQ members should review the roles & responsibilities and provide their information on the membership list tab of this document.

The current draft SOW and workplan activities are included as reference in this document but updates, edits, etc to those tabs will be tracked in other tickets

[2018-03-27 16:16] Couper-T commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx](https://github.com/ICPI/DAQ/files/1852830/DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx)

I updated my row.

[2018-03-27 16:20] abrahamagedewICPI commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx](https://github.com/ICPI/DAQ/files/1852839/DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx)
Updated LOE

[2018-03-27 16:52] shazadahmed10 commented on #2
[DAQ Workplan_Membership_List_draft_2018 03 27_SA.xlsx](https://github.com/ICPI/DAQ/files/1852944/DAQ.Workplan_Membership_List_draft_2018.03.27_SA.xlsx)

Updated with Shazad's info

[2018-03-27 17:12] abrahamagedewICPI commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx](https://github.com/ICPI/DAQ/files/1853009/DAQ.Workplan_Membership_List_draft_2018.03.27.xlsx)
Updated with @imujawar and @wvp3  membership info

[2018-03-27 17:13] abrahamagedewICPI commented on #2
Please use the latest version if updating membership info

[2018-03-27 17:38] kschlenker opened #3 "Draft Activity List/Workplan"
Attached is a a draft of the DAQ workplan/activities. Please feel free to add comments below on this thread with questions, ideas for new activities, or if you feel we've left anything out

[FY18 DAQ Activities.xlsx](https://github.com/ICPI/DAQ/files/1852891/FY18.DAQ.Activities.xlsx)

[2018-03-27 17:46] abrahamagedewICPI commented on #3
| **Activities**                                                                                                                                                                                                                                                                                                                                                             | **Collaborators**

[2018-03-27 22:05] kschlenker opened #4 "Draft workplan presentation for leads"
Current draft presentation of workplan for leads posted:

[2018-03-28 14:39] shapaklyak commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.28v2.xlsx](https://github.com/ICPI/DAQ/files/1856424/DAQ.Workplan_Membership_List_draft_2018.03.28v2.xlsx)

updated with my membership info

[2018-03-28 14:41] abrahamagedewICPI commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx](https://github.com/ICPI/DAQ/files/1856431/DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx)

LATEST VERSION

[2018-03-28 16:22] achafetz commented on #2
updated.
[DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx](https://github.com/ICPI/DAQ/files/1856811/DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx)

[2018-03-28 16:41] kschlenker opened #5 "Update DRT Template"
DRT Excel template needs the following updates:

- [x] language on intro tab updated to reflect Q2 & planned fast-follow release to add Disagg Completeness Checks
- [x] anonymize  screenshots on intro tab
- [x]  update appendix with Q2 checks

Upload completed Excel template to OGAC's DataWarehouse repo & notify Jim

[2018-03-28 17:09] abrahamagedewICPI commented on #2
@achafetz, do you know which worklanes you are interested in participating or contributing to?

[2018-03-28 18:07] kschlenker opened #6 "QC DRT Extracts in test environment w/ Q1 data"
QC help needed to test that all checks in each bucket are functioning correctly (tick box when all checks w/in bucket have been QC'd). One person can QC multiple buckets or we can do one bucket/person:
- [x] Contextual Site Info checks

- [x] MER Logic Checks

- [x] Checks Across Time Periods

***Disaggregate Completeness Checks will not be QC'd at this time because they are dependent on new 5-yr

[2018-03-28 18:34] kschlenker opened #7 "DRT Security Trimming Testing"
This is touched on in https://github.com/pepfar-datim/Data-Warehouse/issues/2506 but need to ensure that security trimming fixes are functioning for DRT Genie extracts

[2018-03-28 18:41] kschlenker opened #8 "DRT Deployment Communications"
Work with OGAC HIS team & Coordination Cluster to determine communication plan regarding deployment & fast-follow deployment (w/ disagg completeness checks).

- [ ] Draft email to Genie users announcing launch of new DRT Extract
- [ ] Communicate deployment plans to SI Advisors & HQ SI Community
- [ ] Include deployment info in Huddle Board

Anyone have other ideas on communication needs related t

[2018-03-28 18:44] kschlenker opened #9 "DRT Webinar"
Update training materials & hold webinar for HQ & Field staff to train users on how to use the DRT Genie Extracts. Coordinate w/ Kristin Roha & Coordination Cluster.

Anyone else interested in assisting with this?

[2018-03-28 19:04] kschlenker opened #10 "Create DAQ Menu of Services for field engagement"
DAQ is going to create a menu of specific sample activities that field teams could collaborate with us on. We'll share this list with SI Advisors, SI Liaisons, and the Huddle Board in order to try to create demand for our services among field teams.

Generally speaking, we expect to offer the following kinds of services:

- Develop data management, processing, and repository solutions for generati

[2018-03-28 19:20] kschlenker opened #11 "Develop new disagg completeness checks (sum disagg = total num)"
SI Advisors have requested that we create a new set of disagg completeness checks to see if the sum of disaggs = total numerator (instead of only flagging sum of disaggs > total numerator).

Tentatively scheduling this for deployment during the Q2 cleaning period

[2018-03-28 19:55] achafetz commented on #2
done!
[DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx](https://github.com/ICPI/DAQ/files/1857539/DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx)

[2018-03-28 22:26] abrahamagedewICPI commented on #2
[DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx](https://github.com/ICPI/DAQ/files/1857996/DAQ.Workplan_Membership_List_draft_2018.03.28.xlsx)

LATEST VERSION

[2018-03-29 17:39] abrahamagedewICPI commented on #4
Updated version.

[DAQ Presentations to Leads 20180329.pptx](https://github.com/ICPI/DAQ/files/1861258/DAQ.Presentations.to.Leads.20180329.pptx)

[2018-03-29 19:32] kschlenker commented on #4
Reformatted membership slide and added a reference (hidden) slide about the DAQ roles since they differ slightly from what other clusters have used.

[2018-03-29 19:41] abrahamagedewICPI commented on #4
[DAQ Presentations to Leads 20180329.pptx](https://github.com/ICPI/DAQ/files/1861772/DAQ.Presentations.to.Leads.20180329.pptx)

Update based on @kkale25 feedback to include collaborations with other teams in the Coordination Cluster.

[2018-04-02 21:59] #4 closed

[2018-04-02 21:59] #2 closed

[2018-04-03 14:57] abrahamagedewICPI opened #12 "MER Data Entry forms location"
Here is the location of the HTML MER Data Entry forms:

Sharepoint: https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FICPI%20Data%20Store%2FMER%2FReference&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D

GH ticket: https://github.com/pepfar-datim/Global/issues

[2018-04-03 14:57] #12 closed

[2018-04-03 21:43] kschlenker commented on #6
I've attached a QC workbook & DRT extract (both marked up) for Rwanda. I checked Contextual Site Info Checks & Trends Over Time. The QC workbook[ posted on sharepoint ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FData%20Review%20Tool%20%28DRT%29%2FWorking%20do

[2018-04-05 15:08] kschlenker commented on #6
From Shazad: None of the 5 OUs he checked: Rwanda, Indonesia, Haiti, Cameroon, Burundi had logic checks triggered in DRT. He suspects they weren't activated properly.

Next steps: Check Genie for additional OUs & build out a QC workbook based on Site x IM Datasets from Sharepoint to see if any of those OUs _should have had Logic Checks triggered in their DRT extract_

[2018-04-05 15:32] abrahamagedewICPI opened #13 "Create DRT Flag list data dictionary"
Need to create a data dictionary for the flag list table.

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Data%20Access%20and%20Quality%20(DAQ)/Data%20Review%20Tool%20(DRT)/Working%20documents/Code%20for%20DRT%20(SQL%2C%20Code%20Builder%2C%20VBA)/DRT_FlagList_All.xlsx

[2018-04-05 17:36] kschlenker opened #14 "Add Site Name to Site x IM Datasets"
Requesting that we add Site Name as a column to the Site x IM MER Structured Datasets. Site Name should correspond to the existing OrgUnitUID.

If facility, then site name = facility name;
If community, then site name = community name;
If military, then site name = PSNU name;
else site name = org unit name

[2018-04-05 17:53] abrahamagedewICPI commented on #6
@kschlenker, please include community sites (not only facility sites) to the QC workbook. the differences you are noticing are related to the exclusion of community sites from the QC workbook.

[2018-04-05 19:06] abrahamagedewICPI commented on #6
@kschlenker, I think I found the issue. Applying fixes now. It is related to the implied disaggs.

[2018-04-05 19:08] abrahamagedewICPI commented on #6
Also, I have made changes to the script to fix the ref values (only need to see ref1, ref2 should be blank) for time trend logic checks.

[2018-04-05 20:41] abrahamagedewICPI commented on #6
Changes have been applied to reporttest, please resume testing. FYI, @kschlenker @shazadahmed10 @pvinayak001

[2018-04-06 19:39] kschlenker commented on #6
QC'd a newly extracted Haiti DRT from reporttest environment and all the Trends Across Time & Contextual Site Info checks matched the QC workbook (the only observed differences between the DRT & the QC workbook were from whether or not zeros triggered a flag in the QC workbook vs DRT - that's not really an issue though so I changed the QC workbook to account for many of these instances).

[2018-04-09 14:34] shazadahmed10 commented on #6
Update: Using manually built QC checks from Site level datasets, can confirm that there should have been logic checks triggered that were not in the DRTs.

Next Step: Abe says he updated the code so logic checks are pulled in.
Re-pull DRTs and re-check if logic checks are being triggered

[2018-04-09 16:32] shazadahmed10 commented on #6
Update: Re-pulled new DRTs on Monday 4/9. Logic checks are being pulled in now, however out of the ones being pulled in, some are correct and some are incorrect.

[2018-04-09 16:36] abrahamagedewICPI commented on #6
@shazadahmed10 , can you provide more information?

[2018-04-09 17:28] kschlenker opened #15 "Adding approval level to DRT dataset?"
We received a request from the systems team to add a feature to DRT to make security trimming testing easier:

"In today's stand-up, we were discussing things to help test and it came up that it would be important to show the Approval Levels in DRT to the user. After a bit more discussion, we all realized that it is already there in SiteByIM.

We all felt that this would be a great thing to add to

[2018-04-09 17:32] abrahamagedewICPI commented on #15
I think we should include in the back-end raw data and possibly create a pivot/slicer. It might be a useful information if users are looking at in-process data (not at the Global level) and provides a good contextual information on the approval status for the desired validation rule.

[2018-04-10 21:55] shazadahmed10 commented on #6
maybe

[2018-04-10 21:59] shazadahmed10 commented on #6
so last Update: it turns out the logic checks are working fine. I forgot to filter by agency and MechID when I was comparing my pivots to the DRT the first time around. WHen i match the agency and mechID shown in the DRT to my pivots, the numbers match up. Therefore, I conclude the logic checks are now working as they be.
My process: created site level datasets for the OUs to be QC'ed. Then i crea

[2018-04-12 15:59] kkale25 commented on #10
Can we include this as an item for discussion for our Coordination Cluster meeting next week? I think this is something that we would like to do for all the teams. Let us know if there are any updates on this!

[2018-04-13 13:40] kschlenker opened #16 "Review/comment on workplan feedback from leads"
DAQ members, please review feedback from the leads on the DAQ SOW & workplan. We'll be discussing the feedback at our next meeting.

The [leads' feedback can be found here](https://github.com/ICPI/DAQ/blob/master/Documents/LeadsFeedbackonDAQ_SOW_Workplan_04092018.docx)

While the workplan, membership list, and SOW are located in our [wiki page](https://github.com/ICPI/DAQ/wiki) and the [presentati

[2018-04-16 15:48] kschlenker opened #17 "Proposed Changes to MER Structured Datasets"
Please see the two proposed changes that were discussed during inbrief.

First, attached is an anonymous mini dataset with forthcoming changes dealing with the new fine age bands. This is a change that we will almost certainly be rolling out in the next release (though perhaps with minor column name changes)
[MSD_FY18Q2_MockUp_20180417.xlsx](https://github.com/ICPI/DAQ/files/1920490/MSD_FY18Q2_Moc

[2018-04-16 15:59] kschlenker opened #18 "Potential MER Structured Dataset structural changes"
We discussed two structural changes. First, please see the MSD_FY18Q2_Mockup file for

[MSD_FY18Q2_MockUp_20180416.xlsx](https://github.com/ICPI/DAQ/files/1915954/MSD_FY18Q2_MockUp_20180416.xlsx)

[2018-04-16 18:43] kschlenker commented on #17
Additional proposed changes suggested during the inbrief include:
- changing APR to cumulative to date
- also adding a SAPR and Q3 Cumulative column (in the version where year is long format & period is wide format)

[2018-04-17 15:32] kschlenker commented on #17
*Updated the attached spreadsheet with some additional rows & columns

[2018-04-17 18:39] abrahamagedewICPI commented on #5
@kschlenker, can the status be changed to 'Completed'?

[2018-04-17 19:33] abrahamagedewICPI opened #19 "Create MSD Training/Testing Dataset with FY18Q2 changes"
EPIC For Training Dataset

[2018-04-17 19:41] kschlenker opened #20 "SIMS Structured Dataset Training Materials/Webinar"
@mehtasp & Audrey will take the lead on developing/adapting training materials for the SIMS Structured Datasets (SSDs). This will include a live webinar presentation that does a shallow dive on the datasets and any supplemental materials needed - which could include supplemental slidedeck, pre-recorded video, training dataset, etc. as needed.

[2018-04-17 19:43] abrahamagedewICPI opened #21 "FY18Q2 Deployment"
EPIC FY18Q2 Deployment

[2018-04-17 19:51] kschlenker opened #22 "MSD & Site x IM Extract Training Materials/Webinar"
@aliyahwakil @abrahamagedewICPI @kschlenker @anu87 will adapt/update training materials for the Site x IM Genie Extracts & MER Structured Datasets (MSDs). This will include a live webinar presentation that does a shallow dive on the extracts & datasets and any supplemental materials needed - which could include supplemental slidedeck, pre-recorded video, training dataset, etc. as needed.

[2018-04-17 20:34] abrahamagedewICPI opened #23 "DRT Deployment"

[2018-04-17 20:49] abrahamagedewICPI opened #24 "ART data for PEPFAR country Spectrum files"
Request from Mary M. via Jamie H.

Create a dataset to compare:

- ART numbers for men (15+), women (15+) and children (<15) for calendar year 2017?
- PMTCT numbers  for calendar year 2017?

[2018-04-18 15:53] abrahamagedewICPI commented on #19
[Q2 Mockup_20180418.xlsx](https://github.com/ICPI/DAQ/files/1924777/Q2.Mockup_20180418.xlsx)
@kschlenker, a more abridged mock-up dataset

[2018-04-18 18:06] kschlenker commented on #6
I've posted additional QC workbooks for several additional OUs in the [QC folder](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FData%20Review%20Tool%20%28DRT%29%2FWorking%20documents%2FGenie%20QC&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED

[2018-04-18 19:01] kschlenker commented on #17
See also https://github.com/ICPI/DAQ/issues/19

[2018-04-18 21:25] shapaklyak commented on #19
not sure if you're planning to compare previous dataset structure to proposed changes, but i was working on this to try to prep for the OVC dashboard updates for q2.

![image](https://user-images.githubusercontent.com/5234106/38959137-7348e89c-432d-11e8-87cf-e757b6829a9c.png)

[2018-04-19 19:13] abrahamagedewICPI commented on #6
@kschlenker , have you posted the Rwanda QC workbook?

[2018-04-20 13:47] jb3436 commented on #10
**Update:** No longer doing inventory of pain points at this time.

Jasmine and Susan discussed the data walk and Susan suggested that the pain points discussion happen organically during the data walk. The exercise may be better timed once the workspaces goes live and there is a need to look holistically at the new platform.

**Top pain points:**
1. Lack of universal filters
2. Lack of scrolling

[2018-04-20 15:32] abrahamagedewICPI opened #26 "Create/update five year age band DRT validation rules"

[2018-04-20 15:33] abrahamagedewICPI opened #27 "Exclude disagg checks for Q2 inital release"

[2018-04-20 15:35] abeagedew opened #28 "Add mutual exclusive validation checks in DRT"

[2018-04-24 14:35] kschlenker commented on #27
Inclusion of the Disagg Completeness checks has been delayed until the Q2 cleaning period in June. This is due to delays in the availability of Site x IM Genie extracts (upon which Disagg Completeness testing is dependent)

[2018-04-24 14:35] #15 closed

[2018-04-24 14:36] #5 closed

[2018-04-24 14:51] kschlenker commented on #9
@shazadahmed10 I posted an [anonymized DRT](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Data%20Access%20and%20Quality%20(DAQ)/Data%20Review%20Tool%20(DRT)/Working%20documents/DHIS2_DRT_4.12.2018%20-%20anonymized%20for%20training.xlsx) that we can use for screenshots when updating DRT training materials.

Discussed the training at DAQ leads yesterday with Roha - she said that an

[2018-04-24 14:53] kschlenker commented on #20
@mehtasp Discussed this @ the DAQ leads meeting and, upon further discussion, we thought it would be best to keep the shallow-dive DAQ/PRIME webinar focused on MER for the sake of cohesion. But we should still proceed to create training materials & think about when (June? late May?) it would be most appropriate to hold a standalone SIMS SD webinar.

[2018-04-24 19:11] abrahamagedewICPI opened #29 "Move DRT Flaglist spreadsheet to the DATIM Warehouse GH repo from Sharepoint"

[2018-04-24 19:14] abrahamagedewICPI commented on #29
Sharepoint [location](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Data%20Access%20and%20Quality%20(DAQ)/Data%20Review%20Tool%20(DRT)/Working%20documents/Code%20for%20DRT%20(SQL%2C%20Code%20Builder%2C%20VBA)/DRT_FlagList_All.xlsx)

[2018-04-24 19:17] abrahamagedewICPI commented on #29
Moved [here](https://github.com/pepfar-datim/Data-Warehouse/tree/master/files).

[2018-04-24 19:17] #29 closed

[2018-04-24 21:11] kkale25 commented on #22
@ICPI/daq - is there a timeline around this?

[2018-04-25 17:00] abrahamagedewICPI commented on #6
PDH team is currently running partial ETL for South Africa, Tanzania and South Sudan with changes to current and previous period. DRT is set to use Q2 and Q1 as current and previous periods resp.
@kschlenker @shazadahmed10, will notify the DRT testing team once the ETL is completed.

[2018-04-26 13:40] abrahamagedewICPI commented on #6
@kschlenker @shazadahmed10, please resume testing on reporttest. ETL has completed.

[2018-04-26 13:41] abrahamagedewICPI commented on #6
OUs in the current ETL : South Africa, Tanzania and South Sudan

[2018-04-26 16:56] shazadahmed10 commented on #9
Shazad's slides posted here:

[DRT Training for Genie_SA edits.pptx](https://github.com/ICPI/DAQ/files/1952192/DRT.Training.for.Genie_SA.edits.pptx)

[2018-04-26 20:12] mehtasp commented on #20
That's fine. I can work with Audrey on this. I'll probably be out most of June, but end of May and mid-July would work. I can bring this up with Audrey when she's here next week.

[2018-04-29 16:21] #7 closed, assigned to kschlenker, pvinayak001

[2018-04-30 14:16] #27 closed

[2018-04-30 18:39] abrahamagedewICPI commented on #24
Output sent to @HoustonJamie.

[2018-04-30 18:39] #24 closed

[2018-04-30 18:40] abrahamagedewICPI commented on #23
Closing... DRT deployed on 4/27

[2018-04-30 23:15] kschlenker commented on #9
Training powerpoint posted on sharepoint here: [https://www.pepfar.net/OGAC-HQ/icpi/Products/Webinars/2018/Data%20Review%20Tool%20(DRT)/DRT%20Training%20for%20Genie.pptx](https://www.pepfar.net/OGAC-HQ/icpi/Products/Webinars/2018/Data%20Review%20Tool%20(DRT)/DRT%20Training%20for%20Genie.pptx)

@shazadahmed10 @abrahamagedewICPI please let me know if you have suggestions/edits.

[2018-05-03 19:26] kkale25 commented on #9
is this the final version of the training PPT?

[2018-05-04 17:44] abrahamagedewICPI commented on #9
@kkale25, yes this is the final version.

[2018-05-04 17:45] #9 closed

[2018-05-07 16:32] abrahamagedewICPI opened #30 "Review VMMC Followup calculated indicator"
VMMC team has requested for the VMMC Followup calculated indicator to be revised.  Request submitted by Britteny Baack(@bbaack )

![image](https://user-images.githubusercontent.com/18145327/39712835-81a87a6e-51f2-11e8-8ddb-de6afaa15b07.png)

[2018-05-07 16:50] kschlenker commented on #26
@abrahamagedewICPI I uploaded the newest  [Flag Table List](https://github.com/pepfar-datim/Data-Warehouse/blob/master/files/DRT_FlagList_All.xlsx) to the Data Warehouse Repo.

Two sets of changes:
1. Changed flags DC_01 and DC_04 to be semi-fine age disagg flags (they had been listed as "fine" before the 5-yr age bands were introduced in FY18Q2)
2. Added flags 226-235. These included the disagg c

[2018-05-07 20:33] bowdenj commented on #30
Thank you Abe! If it is expected that this will be included in Q2, is there a plan to notify Derek/Stephanie so they can add it to the disagg code map or DDE?

[2018-05-07 20:48] abrahamagedewICPI commented on #30
Derek is aware

[2018-05-14 13:04] #19 closed

[2018-05-14 13:06] abrahamagedewICPI opened #31 "Convert N/A to Null"
Check all fields for N/A and convert to NULL

[2018-05-21 16:35] kschlenker opened #32 "Submit auto-calculated totals suggestion to MER revision survey"
DAQ will submit a suggested revision to have more indicators use autocalculated numerators & denominators. Kristy will start drafting a list of suggested autocalculations & DAQ will review. @abrahamagedewICPI will submit on behalf of the DAQ on Friday
[Autocalculatons for MER indicators.xlsx](https://github.com/ICPI/DAQ/files/2023336/Autocalculatons.for.MER.indicators.xlsx)

[2018-05-21 16:40] kschlenker opened #33 "Create MSD PSNU x IM Training Dataset"
Training dataset will be used for training pivot tables & MSD webinar

[2018-05-21 16:56] kschlenker opened #34 "Demo/training pivot tables with new MSD"
As discussed during the DAQ meeting, we will develop sample pivot tables using the PSNU x IM Training Dataset (Ticket #33) for the following:

- [x] HTS_TST (@abrahamagedewICPI )

- [x] PMTCT (@achafetz)

- [x] VMMC (@mehtasp) - done and posted [here](https://github.com/ICPI/DAQ/tree/master/Training)

- [x] TX (@imujawar)

- [x] OVC_SERV (@shapaklyak - Are you able to work on this?)

The idea is t

[2018-05-21 19:37] kschlenker opened #35 "Update MSD helper scripts"
Volunteers are needed who can update the MSD helper scripts currently posted in [the data store](https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Data%20Store/MER/Code%20for%20Manipulating%20ICPI%20Fact%20View%20Datasets%20in%20Statistical%20Packages.docx) for R, SAS, and STATA.

Ideally, we should be moving these into Github and posting the Github links on sharepoint/in the User's Guide.

[2018-05-21 19:48] jaliasd commented on #35
Why don't we just point people to the ICPI Utilities package?

On Mon, May 21, 2018 at 3:37 PM, kschlenker <notifications@github.com>
wrote:

--
Joshua Davis, MSPH
Senior Strategic Data Analysis Advisor / USAID team co-lead
Strategic Information, Evaluation & Informatics
USAID Bureau for Global Health | Office of HIV/AIDS
Interagency Collaborative for Program Improvement (ICPI)
jodavis@usaid.gov
5

[2018-05-21 20:25] abrahamagedewICPI commented on #35
@jaliasd, Utilities package is only in R. The helper scripts are created for SAS, Stata and R.

[2018-05-21 20:26] kschlenker commented on #35
But good idea to point to the utilities package for R. Has there been any documentation yet that people could look at for the utilities package?

[2018-05-22 15:37] jb3436 commented on #10
Checking in on status of this as it relates to a separate query we received about the support types ICPI offers. @kkale25 @kschlenker @Yabayabadoo

[2018-05-23 22:01] kschlenker commented on #32
I spoke with Catherine and she thought it would be sufficient to submit a general, overarching request on this topic rather specific details about each indicator.  I'll say that the DAQ is happy to work with systems & program later to map out what data element combos would make up each autocalc if the request is approved. And I'll note that it would be possible to also add "unknown" as an option t

[2018-05-24 15:37] achafetz opened #36 "String in Value and other columns"
Lot of "janky" formatting going on with the MSD (or at least OUxIM)

![image](https://user-images.githubusercontent.com/8933069/40496012-b8f30992-5f46-11e8-937b-cd70f65e884f.png)

[2018-05-24 23:12] mehtasp commented on #34
Created VMMC sample pivots using the ICPI_MER_Structured_Dataset_PSNU_IM_FY17-18_20180515_v1_1_Uganda. (The training PSNUxIM files I found on Sharepoint only went up to FY17Q4). Posted them in the sharepoint location above.

[2018-05-25 13:44] achafetz commented on #34
here's an [updated masked training dataset](https://github.com/ICPI/TrainingDataset/raw/master/Output/ICPI_MER_Structured_TRAINING_Dataset_PSNU_IM_FY17-18_20180515_v1_1.txt) for Q2. Code and other info can be found on the [ICPI/TrainingDataset](https://github.com/ICPI/TrainingDataset) repo

[2018-05-25 13:47] abrahamagedewICPI commented on #34
Awesome Aaron!

[2018-05-25 14:19] achafetz commented on #34
Here are the PMTCT pivots. Checking them off the list
[PMTCT_Training_Pivots.xlsx](https://github.com/ICPI/DAQ/files/2039664/PMTCT_Training_Pivots.xlsx)

[2018-05-25 15:36] shapaklyak commented on #34
@achafetz code wasn't working for me to read the training dataset into R. i installed readr package

![image](https://user-images.githubusercontent.com/5234106/40553113-b6c7118a-600f-11e8-94ac-3f185d11c2ae.png)

[2018-05-25 15:55] shapaklyak commented on #34
@achafetz figured it out... the code needs to be updated to the correct url
`df <- readr::read_tsv("https://github.com/ICPI/TrainingDataset/raw/master/Output/ICPI_MER_Structured_TRAINING_Dataset_PSNU_IM_FY17-18_20180515_v1_1.txt")`

[2018-05-25 17:18] abrahamagedewICPI commented on #34
Training materials can be posted [here ](https://github.com/ICPI/DAQ/tree/master/Training)in Github

[2018-05-25 17:41] shapaklyak commented on #34
@erinschelar  please review
[OVC_Training_Pivots.xlsx](https://github.com/ICPI/DAQ/files/2040402/OVC_Training_Pivots.xlsx)

[2018-05-29 12:22] achafetz commented on #34
thanks @shapaklyak. I needed to update the README after I added the new file. This is resolved now.

perfect opportunity for a pull request in the future :)

[2018-05-29 21:39] kschlenker commented on #34
@achafetz @mehtasp @abrahamagedewICPI @shapaklyak @imujawar

We spoke with Kristin R today regarding the previously scheduled OGAC/DAQ webinar. The webinar will not be taking place Thursday but we'd like to try to get some pre-recorded training videos online by Friday.

Abe & I thought it might be nice to have a few mini recordings on creating videos for specific subject areas. Is anyone available

[2018-05-30 22:54] #32 closed

[2018-05-30 22:59] kschlenker commented on #33
Training dataset available courtesy of achafetz: [https://github.com/ICPI/TrainingDataset](https://github.com/ICPI/TrainingDataset)

[2018-05-30 22:59] #33 closed

[2018-05-31 00:15] kschlenker opened #37 "Upload updated DRT template to Data Warehouse Repo"
The current template that's in the Data Warehouse repo the does not have the disagg completeness checks in the Appendix. Users Guide tab also mentions that the disagg checks are turned off.

When the disagg completeness checks are ready to be deployed, the template I've attachad here should be uploaded to the [Data Warehouse Repo ](https://github.com/pepfar-datim/Data-Warehouse/blob/master/DHIS2Re

[2018-05-31 13:09] abrahamagedewICPI commented on #34
@mehtasp @achafetz @imujawar @shapaklyak  , let us know if you are able to coordinate with @hessionra to create the recordings.

[2018-05-31 19:17] shapaklyak opened #38 "Training Dataset update"
The Training dataset is a bit sparse, is it possible to create one that uses a larger/medium sized OU? This would be helpful for preparing materials for the Tableau training and other cluster training materials.

[2018-05-31 19:31] achafetz commented on #38
the Trainign Dataset extracts 25 districts at random from the MSD and bins them into 3 OUs. It's 25 because (a) it keep it to a small file and (b) I couldn't come up with any more GoT names.

If you want to think up more names, pull request away
https://github.com/ICPI/TrainingDataset/blob/master/Input/got_geo.csv

[2018-05-31 19:33] achafetz commented on #38
and it's limited to 45 partners as well

https://github.com/ICPI/TrainingDataset/blob/master/Input/got_primepartner.csv

[2018-05-31 19:41] abrahamagedewICPI commented on #34
Next steps:
- Finalize and compile Excel workbooks by 6/4
- Video recording for HTS_TST  6/4

[2018-05-31 20:49] kschlenker commented on #37
Updated template to add the program area column to the appendix. I think this will make using the appendix easier. The ref var lookup formulas should still be pointing to the correct columns. This is now the version that should be uploaded to the Data Warehouse Repo

[DRT_Template.xlsx](https://github.com/ICPI/DAQ/files/2060010/DRT_Template.xlsx)

[2018-05-31 20:51] hessionra commented on #34
Recording with @kschlenker tomorrow 6/1.

[2018-05-31 21:04] shapaklyak commented on #38
can you use [Land of Oz](https://en.wikipedia.org/wiki/Land_of_Oz#Geography)? Also, the issue isn't more geographic areas, it's the type of data pulled in for indicators appears incomplete. For example, there are FY18 results but no targets for OVC transferred. @abrahamagedewICPI  - is it more complete for HTS?

[2018-05-31 21:20] abrahamagedewICPI commented on #38
@shapaklyak , HTS is looks alright to me in the training dataset

[2018-05-31 21:37] kschlenker commented on #38
@shapaklyak & @achafetz I'm happy to add more places & partner names after my AL. Agreed that we don't want a dataset so large that it's unusable but we can afford to make it a bit larger to make it more likely that we have fuller representation of some of the indicators that might be limited to a few of partners and/or PSNUs (e.g., OVC & KP)

[2018-06-01 14:54] abrahamagedewICPI opened #39 "SIMS Training Dataset"
SIMS Land Training Dataset is posted [here](https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Data%20Store/SIMS/Testing/ICPI_SIMS_Structured_Dataset_Training_SIMS_LAND.zip).

[2018-06-01 14:54] #39 closed

[2018-06-04 13:17] abrahamagedewICPI opened #40 "Q2 known issues"
- [x] -Add Sex to VMMC and PMTCT testing modalities as implied sex
- [x] -Account for KP_PREV (keypop), TX_NEW (keypop), PrEP_new(keypop), GEND_GBV(ViolenceType), TX_PVLS(Indication), HTS_TST(keypop), TX_RET(PregnantOrBreastfeeding) in other disaggs variable- currently in cat combo options
- [ ] -Standardize modalites and also need to removed for MER 1 service delivery points
- [x] -TX_TB implied

[2018-06-06 22:20] imujawar commented on #34
Posting TX pivots. [TX_Training_Pivots.xlsx](https://github.com/ICPI/DAQ/files/2078341/TX_Training_Pivots.xlsx)

[2018-06-07 04:44] shazadahmed10 commented on #34
HTS pivots cheat sheet link  (too big to post on GitHub):

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/HIV-TB%20Diagnosis/Resources/HTS_CheatSheet%20Fy18Q2.xlsx

[2018-06-12 17:56] shapaklyak commented on #38
@kschlenker @achafetz are either of you or anyone able to make the training dataset more  comprehensive this week? it'd be great to use as part of developing training materials this week.

[2018-06-12 18:39] abeagedew commented on #38
Hi @shapaklyak, I started working on the comprehensive workbook, planning on finalizing it tomorrow. I will post it in the training folder here on GH and SP.

[2018-06-12 18:45] shapaklyak commented on #20
hi all, is there a SIMS training dataset? thanks!

[2018-06-12 19:13] abeagedew commented on #20
@shapaklyak, the SIMS training dataset is posted [here ](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FSIMS%2FTraining&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D)on SP. I believe Audrey is working on updating the tra

[2018-06-12 20:19] shapaklyak commented on #38
thank you @abrahamagedewICPI ! this will be very helpful to create materials for the Tableau training!

[2018-06-13 14:42] #20 closed

[2018-06-13 15:24] kschlenker opened #41 "Autosum total num/denom & data completeness analyses"
We got good news from Catherine on behalf of the MER fine-tuning committee - the DAQ's submission is being considered. Irum & Kristine have asked for additional follow-up analyses regarding the DAQ's request to have all MER indicators (or at least more of them) to have auto-summed total numerators & denominators.  This is an interesting sprint project, please let us know if you're interested in ta

[2018-06-19 13:32] shapaklyak commented on #34
will all of these be compiled in the Training folder for DAQ on github and/or sharepoint? some prevention folks are interested. fyi @kimisatoPC @erinschelar

[2018-06-25 12:46] kschlenker commented on #40
@abrahamagedewICPI can you confirm which of these were (or were not) corrected for the Q2 clean release?

[2018-06-25 12:52] kschlenker commented on #40
from @abrahamagedewICPI all fixes "except the VMMC_CIRC_FOLLOWUP are in the clean release"

[2018-06-25 14:24] kimisatoPC commented on #40
@abrahamagedewICPI can you confirm that Rwanda will be added to the DREAMS dataset for cleaned Q2? Thank you!

[2018-06-25 14:29] abeagedew commented on #40
@kimisatoPC , we will confirm the inclusion of Rwanda to the DREAMS dataset. It will be part of our testing. Thanks for bringing this up.

[2018-07-02 20:15] achafetz commented on #40
"N/A" was removed from `Sex` and `resultStatus` and NULL from `modality` but were replaced with a space rather than left blank. where do we lodge our complaints?

![image](https://user-images.githubusercontent.com/8933069/42184330-28402042-7e13-11e8-9e55-0506e1e5e029.png)

![image](https://user-images.githubusercontent.com/8933069/42184365-464b5886-7e13-11e8-9a87-92e3ef592cde.png)

[2018-07-02 20:29] bowdenj commented on #40
Hey @achafetz , thanks for asking. You can log tickets here: https://datim.zendesk.com/hc/en-us/requests/new?ticket_form_id=54655

For now, please select "Data Genie" in the dropdown menu. Hoping to get this label updated to include MSD. Thank you!

[2018-07-02 20:30] bowdenj commented on #40
@achafetz - can you please also include in the ticket where you found it (OU specific PSNU x IM/Site x IM? OUxIM? Other?)

[2018-07-02 20:32] achafetz commented on #40
Sure thing. And do you know if ICPI intentionally left off the file title or not?
`MER_Structured_Dataset_OU_IM_FY17-18_20180622_v2_1.txt` was formerly `ICPI_MER_Structured_Dataset_OU_IM_FY17-18_20180515_v1_1`. All these changes have implications on our code

[2018-07-02 20:35] bowdenj commented on #40
@achafetz - Yes, we did have to adjust this branding now that it is a shared product. Apologies for the code change. It will look like this moving forward, so this should be a one-time change.

[2018-07-02 20:45] achafetz commented on #40
Thanks!

[2018-07-09 16:39] shapaklyak commented on #40
hi @achafetz @kschlenker ...it seems that the Exited w/o Graduation and Transferred disaggs (under Other Disagge) are duplicated in the dataset under "NA" and "TransferExit". I'll submit a ticket but wanted to let you know of this issue here.

[2018-07-16 14:30] jb3436 commented on #10
Here is an overall doc I have been working on... feel free to use this as you create a DAQ specific one.
[How to Request ICPI Analytic Support 20180710_V2.docx](https://github.com/ICPI/DAQ/files/2198007/How.to.Request.ICPI.Analytic.Support.20180710_V2.docx)

This was drafted for RPM - This would be great to complete.
[ICPI Support Menu _07102018.docx](https://github.com/ICPI/DAQ/files/2198008/ICPI

[2018-07-16 15:47] aliyahwakil commented on #10
A couple of examples of services that DAQ could provide:

- Consultation including advice on better ways to name and organize files, recommendations on file formats that are appropriate for preserving files long-term and sharing files, best practices for using Excel spreadsheets, how to approach creating metadata

-Help field teams create a data management plan

[2018-07-16 15:51] abeagedew commented on #10
Thank you @jb3436 @aliyahwakil

[2018-07-27 17:17] abeagedew opened #42 "Standardize MSD Training Pivots"
Pick a format that can be adopted from the  different program area pivot tables and update the pivot examples using the chosen format.

https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTraining&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D

[2018-07-27 17:20] abeagedew opened #43 "Package MSD training modules"
- [x] Overview

- [x] Data Access

- [x] Data Use and Analysis

- [x] Special Consideration

[2018-08-02 23:12] jb3436 opened #44 "CCB Request Process for ICPI"
Now that the CCB is getting restarted, I thought we may want to update our request flow. Any comments on  the doc? I will circulate this with the notes and info from the CCB meeting on 8/2.

If you would like to make modifications, the original doc is linked [here on SharePoint](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Doc

[2018-08-03 13:34] kschlenker commented on #44
I wonder if it makes sense to incorporate the CCB request into the general DATIM help desk. We could see if systems can add a “New feature/CCB request” drop down. Thoughts?

[2018-08-03 16:09] jb3436 commented on #44
@kschlenker @abrahamagedewICPI I asked Harry if he could update the PPT presentation. So we can distribute. In the meantime I will send around the [old CCB presentation](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FDATIM%20CCB%20Process&FolderCTID=0x012000C8153

[2018-08-03 17:04] kschlenker commented on #44
@jb3436 @abrahamagedewICPI are the agency POCs listed still who we think should be involved? For USAID, I'd just suggest me and Josh. I'm not sure if it necessarily makes sense to have Aaron listed as a POC for USAID if the requests are just going to be routed to me as a DAQ lead anyways. In terms of CDC, do we know if JP still wants to be involved or if we should swap him out for Jamie?

[2018-08-03 17:34] kschlenker commented on #10
More examples:
- Training (virtual or in-person) on accessing & using MER Structured Datasets to analyze data.
- Review a country team's existing processes related to reviewing & cleaning data. Identify ways to improve the efficiency and/or comprehensiveness of existing data cleaning/review process.
Provide assistance in creating new documentation or refining existing documentation related to data

[2018-08-03 18:16] jb3436 commented on #44
@kschlenker I made some updates. I think JP coordinates the CCB from the CDC overall side, @abrahamagedewICPI , is that correct?
![image](https://user-images.githubusercontent.com/13006198/43658789-ddfe7f32-9727-11e8-82b6-f033fe0d6dee.png)

[2018-08-03 18:39] abeagedew commented on #44
hey @kschlenker @jb3436 , usually it has been JP and Jamie but mostly JP that has been coordinating the CCB requests from the CDC side.

One comment I have is to include icpi@state.gov besides the DAQ co-chairs in the request submission process.

[2018-08-09 14:25] kschlenker commented on #37
New Q3 version needs to be uploaded now

[2018-08-09 14:26] #11 closed

[2018-08-09 14:28] kschlenker commented on #26
Redesigned disagg completeness flags so that the check assesses completeness _regardless_ of fine/semifine/coarse age band.

[2018-08-09 14:28] #26 closed

[2018-08-09 14:29] #34 closed

[2018-08-09 14:31] kschlenker opened #45 "QC New Disagg completeness checks"
QC needed on Q3 data once new disagg completeness checks are deployed in dev environment

[2018-10-10 16:31] #45 closed, assigned to kschlenker

[2018-10-10 16:34] kschlenker commented on #42
Given the new addition of TX_NET_NEW to the MSDs, is there anyone (@imujawar @aliyahwakil ???) who would be able to update our MSD TX Training Pivot Table workbook with some Net_New examples?

[2018-10-11 11:22] aliyahwakil commented on #42
I can create some examples @kschlenker

[2018-10-11 15:15] #41 closed, assigned to kschlenker

[2018-10-11 15:16] #21 closed

[2018-10-11 15:17] #37 closed

[2018-10-15 20:23] kschlenker opened #46 "Brainstorming new age band structure/display"
As discussed during today's DAQ meeting it would be good for us to brainstorm potential solutions related to how we would prefer to see the new _super fine_ (kidding) five year age bands for MER 2.3 displayed in the MSDs. I'm not sure how far along the systems team is in terms of thinking through options. But if we have proposals then we can see if they're receptive.

Below I've sketched out one p

[2018-10-17 13:18] achafetz commented on #46
This might a controversial thought, but... do we really need all these different age bands included? Having the <15/15+ is probably useful to have as well.

My hot take would be the folks who are using the MSD are the same people who can create a "mapping" themselves based on their needs if its necessary. This might make it easier for a new/less experiences user to have not as many columns to deal

[2018-10-17 13:22] achafetz commented on #46
Another unsolicited hot take is that I think it would be great to cut another column - `disaggregate`.  The only difference is with HTS_TST/HTS_TST_POS and I would argue anyone using `disaggregate` column doesn't know `standardizeddisaggregate` exists. It's exponentially much more complex to deal with disaggs based on the their normal disaggregate.

[2018-10-18 20:05] kschlenker commented on #46
Deadline for soliciting feedback: Friday, Oct 26th.

We'll have a final discussion at the DAQ meeting on the 28th before presenting our suggestions to PRIME Systems on the 29th

[2018-10-18 20:37] imujawar commented on #46
My vote is for... **Getting rid of `isMCAD`**, but have the columns `AgeFine`, `AgeSemiFine`, and `AgeCoarse`, reflect the 'Most Complete' age for that age granularity level. `AgeAsEntered` would reflect the true age entered anyway. This will be more intuitive, and wouldn't require instructions on complex ways of filtering age data. With this system, all one has to do is pick the desired age group

[2018-10-25 14:16] kschlenker opened #47 "Feedback wanted: MSD structure for TB & cervical cancer results"
We're soliciting feedback to give to the systems team about how results status for TB & cervical cancer should be handled in MSDs. Currently two formats are being debated and we want you to weigh in!

**Option 1:** Have a single OtherStatus column that contains both TB results and cervical cancer results

Indicator | Disaggregate | categoryOptionComboName | HIV Status | OtherStatus
-- | -- | -- |

[2018-10-26 21:29] aliyahwakil commented on #46
If it's likely that people won't be looking at disagg'd data prior to FY17, can we get rid of AgeFine since, like Imran mentioned, AgeAsEntered will have the most complete and granular level? This could limit confusion and would cut down on the amount of different age bands to keep track of.

[2018-10-28 12:53] imujawar commented on #46
Very much in support of reducing columns, especially columns for age bands, but I think we can't really get rid of `AgeFine`, since we may get even finer data going forward, and each coarser level of age granularity would capture the most complete level from the more finer age band below. Also, `AgeAsEntered` may contain a mishmash of data various levels of granularity.

[2018-10-29 16:53] kschlenker commented on #47
Feedback from DAQ meeting:
Option 2 generally sounds fine with people (this seems to be what systems team was leaning towards already). DAQ strongly suggests renaming column headers with a consistent naming convention to make it user friendly:

- StatusHIV (or Status_HIV)
- StatusTB (or Status_TB)
- StatusCX (or Status_CX)

[2018-10-30 15:30] abeagedew opened #48 "MSD new structure : long by fiscal quarter"
The Systems team would like to get feedback on a possible change to the current MSD structure.
**User Story**
Offer a new pivot on the Structured Datasets which pivots on Targets, Q1-Q4 and APR but has a dynamic FY column. Changed needed for FY2019 Q1 (initial) release, but want to offer it in both of the FY2018 Q4 releases if possible. The new proposed structure and current structure will be avai

[2018-10-30 15:53] kschlenker commented on #48
Would the APR column be a true APR column or are they thinking of making it into a cumulative column?

[2018-10-30 15:56] abeagedew commented on #48
@kschlenker, right now the proposed structural change will include true APR values but I think if the above suggested change is implemented it would make sense to make it a cumulative column instead of the APR value.

[2018-10-30 19:17] achafetz commented on #48
Why is the change "needed"?

We seems to be creeping towards fully long here. I'm 100% okay with fully long, but this semi-long is not particularly great. What kind of an impact can we estimate with a fully long verse the propose semi-long dataset?

This structure makes it difficult to conduct trends over time; would need to convert to fully long or fully wide.

This would break `ICPIutilities::id

[2018-10-30 20:22] noahbartlett commented on #48
Agreed on two points:
(1) that it would be cumulative and not APR. Suggest calling it either YTD
or Cumulative.
(2) What is the advantage to this semi-long format, as opposed to a
completely long format? I end up using R to convert the datasets from wide
to long anyway, so we would figure out how to do it in this case as well.
But why not just go completely long at this point?

On Tue, Oct 30, 201

[2018-10-30 20:24] noahbartlett commented on #48
I should also add that I am very excited for a YTD column. I am less excited about the structural change which will require a lot of "fixing" in order to make sure the datasets can be properly imported into our tools.

[2018-10-30 20:44] abeagedew commented on #48
@achafetz, the intent of this change is to minimize the structural change every quarter by adding the newly added reporting period to the datasets. This would definitely be helpful in the long run but completely understand that it might have major implications at first.

We have had discussion with the Systems team in regards to going completely long by fiscal year and fiscal quarter. One thing to

[2018-11-13 15:18] jb3436 commented on #10
Please see doc "How to Request ICPI Support" to pull some info on the examples from the menu section of the document.  [Link on SP HERE
](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Management%20and%20Processes/How%20to%20Request%20ICPI%20Analytic%20Support_10262018.docx)

![image](https://user-images.githubusercontent.com/13006198/48422906-938f8080-e72d-11e8-85f9-c7a62eb50deb.png)

![i

[2018-11-19 17:54] abeagedew opened #49 "Reported MER Data Issues"
FY18Q4 Reported Issues
--

- [ ] Missing OVC_SERV APR calculation for Total Numerator Age/Sex and TransferExit disaggregates
- [x] Missing Total Numerator/Denominator for TX_RET. 12mo/HIVStatus should be used to derive Total Numerator and Denominator.
- [x] Incorrect FY18 APR calculation for TX_TB and TB_PREV

- [x] Incorrect OVC_HIVSTAT APR calculations, currently summing across across quarters.

[2018-11-26 15:31] #36 closed

[2018-11-26 15:32] #40 closed

[2018-11-26 15:32] abeagedew commented on #47
To be implemented for FY19Q1.

[2018-11-26 15:33] #38 closed

[2018-11-26 15:33] #30 closed

[2018-11-26 15:33] #31 closed

[2018-11-26 15:35] #17 closed

[2018-11-26 15:36] abeagedew commented on #13
Flag list has been updated

[2018-11-26 15:36] #13 closed

[2018-11-26 15:36] #23 closed

[2018-11-26 15:37] abeagedew commented on #22
Materials posted here : https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTraining&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D

[2018-11-26 15:37] #22 closed

[2018-12-03 16:33] abeagedew commented on #48
@imujawar @achafetz @shazadahmed10 @jaliasd @noahbartlett, the proposed long datasets are now posted on Pano. Please take a look at it and let us know if you have any questions/feedback.

[2018-12-10 16:38] abeagedew opened #50 "DRT survey"
DRT User Survey
--
### Next Steps
- Develop an outline for a user group survey (DAQ) @nmcarloni
    - What is useful in the DRT
    - What is redundant
    - What can be added to make it more useful
- Once survey has been vetted by group and PRIME, PRIME will contact users to distribute the survey

[2018-12-10 18:24] abeagedew opened #51 "DRT revision for FY19Q1"
Following changes have been made to the DRT validation checks:

- [x] TB_ART_N greater than TB_STAT_POS_N
- [x] Is   TX_PVLS_D in current period greater than TX_CURR in current period?
- [x] PMTCT_ART   Already on ART is greater than PMTCT_STAT_POS Known Status
- [ ] PMTCT_HEI_POS_N   and PMTCT_EID_N are not both reported (not null and null).
- [x] PMTCT_HEI_POS_N   reported (not null) and PMTCT_E

[2018-12-11 17:39] abeagedew commented on #42
Updated Training documents are posted [here](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTraining&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D&InitialTabId=Ribbon%2EDocument&VisibilityContext=WSSTabPersistence).

[2018-12-11 17:39] #42 closed, assigned to abeagedew, nmcarloni, vanamala-narasimhan

[2018-12-11 17:39] abeagedew commented on #43
Posted [here](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTraining&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D&InitialTabId=Ribbon%2EDocument&VisibilityContext=WSSTabPersistence).

[2018-12-11 17:39] #43 closed, assigned to abeagedew

[2018-12-11 17:41] abeagedew commented on #35
Per 11/26 DAQ meeting:
•	Majority agreed that we should promote the use of ICPI utilities. Makes more sense to dedicate time and resources in the advancement of the R library.
•	Need to formalize, document and stay current with changes to our data structures.
•	Work with agencies with technological limitations in finding solutions.

[2018-12-11 17:41] #35 closed

[2018-12-12 17:54] jaliasd commented on #51
Hi Everyone, you can find the 'crosswalks' for Nigeria and Mozambique [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2fOGAC-HQ%2ficpi%2fShared%20Documents%2fClusters%2fData%20Access%20and%20Quality%20%28DAQ%29%2fData%20Review%20Tool%20%28DRT%29%2fWorking%20documents&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A)

The countries compared the check

[2019-02-11 22:37] jb3436 opened #52 "Addition of SNU2 to Site by MSD dataset"
_From @shazadahmed10 on February 11, 2019 15:34_

Requester: Leigh Tally
Request: To add SNU2 as a new column to the Q4 Site by MSD dataset for Rwanda. Follow up request to add the same column to the in-process Rwadna MSD as well.
Status: Completed for the Q4 MSD by Shazad. Used the DATIM org hierarchy dataset circulated by Josh. Took SNU2 and orgunituid from org hierarchy file and merged OrgUnitU

[2019-02-11 22:37] jb3436 commented on #52
_From @shazadahmed10 on February 11, 2019 15:48_

Update: Request for same addition, but to the in-process Rwanda dataset

[2019-02-14 18:03] shazadahmed10 commented on #52
Update: Leigh sent the "in-process"  Rwanda site data. Shazad then ran code to merge SNU2 to this dataset.
Shazad sent it back to Leigh in an email.

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FAd%20Hoc%20Requests&FolderCTID=0x012000C815322C717A7E4B8164EA374FA

[2019-02-15 16:14] shazadahmed10 commented on #52
Update: Request from Leigh to add SNU2 to frozen 19Q1 Rwanda site MSD when it is released around  2/22/19

[2019-02-15 16:18] shazadahmed10 opened #53 "DRT Revisions & User Testing FY19Q2"
FY19 Q2 DRT Revisions
--
**Overview**:
- Leigh and Shazad are preparing the DRT for Q2 data release.
- New semi annual indicators are being rolled out at this time so giving folks a chance to request new checks if needed.

**Tasks:**
- [x] Review existing checks
- [x] reviewing & updating DRT info tabs (Nicole) @nmcarloni
- [x] Consider expansion/inclusion of new indicators (ie TX_ML, OVC)
- [x] r

[2019-02-15 19:44] shazadahmed10 opened #54 "New Fine Age Bands Issues in Q1 datasets"
Potential Issue: In live Genie pulls that include Q1 data, data for new fine age bands (ex: 1-4, 5-9 for HTS) are being displayed under the AgeSemiFine column. Should these be displayed under the AgeFine column instead?

![image](https://user-images.githubusercontent.com/8259381/52880478-16124c80-3130-11e9-9703-d3d6beb91cde.png)

![image](https://user-images.githubusercontent.com/8259381/52880500-

[2019-02-15 19:48] shazadahmed10 commented on #54
Separate, but related note: in the "new_format" MSDs posted in Pano, the new fine age bands do not appear at all for FY19Q1....going forward, especially if we will be using these datasets to construct analyses based on new MSD structure, these datasets should have new FY19 age bands and other disaggs.
Suggestion: Update the "new_format" datasets with actual Q1 data, when doable

![image](https://u

[2019-02-20 17:00] shazadahmed10 commented on #52
Update: Shazad added SNU2 to 2/19 Genie output for Rwanda. Leigh provided dataset to be modified.
Processed dataset sent directly to Leigh and placed here on SP:

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Data%20Access%20and%20Quality%20(DAQ)/Ad%20Hoc%20Requests/Rwanda_SiteMSD_withSNU2_022019.zip

[2019-02-22 21:44] jb3436 opened #55 "DAQ Inbrief Slides"
Talking Points for Weekly DAQ Inbrief Slides

[2019-02-22 21:47] jb3436 commented on #55
/remind me every Thursday at 4:00PM

[2019-02-22 22:20] jb3436 opened #56 "Genie Users Reports"
Genie Users
--

Since October 1, 2018  36 OUs have had their data extracted from the Genie App
For a total download of over 2800
This includes ICPI and SI advisors.

Genie User Report on SP
[DAQ >Data Review Tool](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FDa

[2019-02-25 03:19] shazadahmed10 commented on #54
Update: the frozen Genie pulls and the MSD files do not have the issues above. The new fine age bands (1-4, 5-9, 40-44, 45-49) show up under AgeAsEntered, old fine age bands show up under agefine.

[2019-02-25 03:19] #54 closed, assigned to shazadahmed10

[2019-02-28 21:07] jb3436 opened #57 "Huddle DAQ Blurbs"
**Data Access & Quality**
MSD Update: Reminder that the new semi-long format of the MSD will take effect in FY19Q2. The systems team and DAQ will be developing an updated user guides for this new format, click here for more details.
ICPI R Utilities Request: If you have an enhancement request, email ICPI@state.gov
Data Review Tool: Updated checks are being incorporated for FY19Q2. If you have chec

[2019-03-04 16:37] jb3436 commented on #55
DAQ Slide 3/4
--

![image](https://user-images.githubusercontent.com/13006198/53747872-36e9da00-3e72-11e9-917d-0750db51d854.png)

Countdown to MSD Semi-Long Format (FY19Q2- May 15)

**Recent Discussions**

- Legacy dashboards revival – need to determine the most complete historic dataset
- Reviewing updated genie user report to determine users of DRT and to develop a feedback survey for PRIME to s

[2019-03-04 16:39] jb3436 commented on #55
DAQ Slides 3/25
--
**Recent Accomplishments**

- Met with Systems Data Management team to discuss DAQ’s engagement in testing out early release MSDs – really important for FY19Q2
- Calculated indicators – will be led by systems data management team with routine input from DAQ and ICPI
- Released Genie/DRT User Report Summary, can be found on SharePoint
- Testing of genie semi-long occurred – feedb

[2019-03-05 15:55] jb3436 commented on #57
/remind me april 1

[2019-03-05 15:57] jb3436 commented on #49
FY19 Q1 Reported Issues
--
ICPI - please add the reported issues below.

HTS_TST_POS - FY19 Targets calculations include KeyPop in addition to Modality/Age/Sex/Result.
TX_NET NEW
OVC_SERV Total Numerator

[2019-03-05 16:15] jb3436 commented on #50
Survey Connected to Genie User Report https://github.com/ICPI/DAQ/issues/56

[2019-03-05 17:24] jb3436 commented on #53
FY19Q1 Checks
https://github.com/ICPI/DAQ/issues/51

[2019-03-05 17:45] jb3436 commented on #53
FY19 Q2 Checks
--

- [ ] **HSS**
1.	Flag if HRH_CURR >= HRH_STAFF. Normal if HRH_CURR < HRH_STAFF. Flag at the site level and PSNU level. Flag message: “HRH_CURR (PEPFAR-supported HRH) should be a subset of HRH_STAFF (total HRH present).”
2.	Flag if HRH_CURR > 0 and sum of all DSD-type indicators = 0. Flag at the site level and PSNU level. Flag message: “Sites with PEPFAR HRH support should be rep

[2019-03-05 21:39] jb3436 commented on #49
Please note the following issues with the Panorama FY19Q1 release, short-term workarounds, and resolution timelines:
1. **What**: HTS_TST_POS and HTS_TST_NEG is incorrectly calculating FY2019 Targets
    •         Issue: The Total Numerator for these two indicators is incorrectly including the Key Pop disaggregate. Note, this is not a problem for HTS_TST Total Numerator.
o   Workaround: A DATIM Pi

[2019-03-05 23:38] jb3436 commented on #53
DRT Summary FY19Q2
--
Project Leads: Shazad and Leigh

**Summary:**
•	Checks Consolidated through February 27
•	Summarized March 1
•	Sent to Systems team March 5, 2019
DRT Checks for FY19Q2 are a more streamlined set of checks than originally proposed.

Project Updates:
---

- Shazad and Stephanie met late last week to review the revised list of requested checks and Shazad began scripting the new

[2019-03-05 23:45] jb3436 commented on #53
FYI @jaliasd @jaliasd @pvinayak001

[2019-03-06 00:10] jb3436 opened #58 "Catalog Calculated Indicators"
Calculated Indicator Project
--

**Purpose**: Develop a comprehensive list of calculated indicators to be calculated in PDH
**Impact**: This will reduce down stream calculation issues - disaggs left out of calculations and will give systems team a reference and the program community more visibility into the process
**Goals**: This will be incorporated into future iterations of MER guidance and wil

[2019-03-06 00:12] #52 closed, assigned to shazadahmed10

[2019-03-06 00:16] jb3436 commented on #55
/remind me March 22

[2019-03-06 00:16] #44 closed, assigned to abeagedew

[2019-03-06 00:18] #47 closed, assigned to nobody

[2019-03-06 00:18] jb3436 opened #59 "MSD/Genie User Guide & Release Notes Revision Project"
Release Notes

User Guide

Objective: split the release notes into two documents;
- Release Notes: one that is a one pager with acute issues, updates and consistency checks summary
- User Guide: one that is longer and includes routine information like DATIM/pano comparisons, how to download, import into excel, structure of dataset, etc

[2019-03-06 15:27] jb3436 commented on #53
From Stephanie 3/6

**Next Steps:**
1.	We do need to take an action to update the template as well. I have attached the latest
DRT_Template.xlsx”. Does anyone on your team have time to make the updates to the “Quick Start Guie” tab and the “Full List of Checks” tab?
2.	I will start writing the code for the new checks, making updates and do unit testing roughly March 11-20th. However, I will need t

[2019-03-06 19:10] KatieOC commented on #49
[X] PMTCT_STAT_POS targets for FY19 not calculated in PMTCT_STAT_POS calculated indicator -ticket submitted
[ ] TX_NEW disagg Pregnant is not showing any results for FY19 Q1 but should be pulling from PMTCT_ART (Life-long ART, New disagg) - ticket submitted
[ ] PMTCT_STAT semi-fine filter is showing fine age bands for FY19 results but not targets and fine filter is showing fine age band targets bu

[2019-03-14 20:13] jb3436 opened #60 "Genie Testing FY19Q2"
Genie Testing
--

1. Navigate to Genie test URL:  dev.pdh.datim.org
    - Please log into DATIM like you normally would and navigate to the Genie app.
    - Please let Stephanie know if you cannot log in.

2. Note depending on your internet connection (and if it is a hotspot or metered connection) the download size for many Site x IM and PSNU x IM could be quite large.
    - Please plan to test fr

[2019-04-01 15:28] pvinayak001 opened #61 "Add William Shiflett to this repo"
Name: William Shiflett
Username: @WilliamShiflett

Thanks!

[2019-04-04 13:38] jaliasd commented on #61
@achafetz  can you add William to ICPI and I'll add him to DAQ

[2019-04-04 13:45] achafetz commented on #61
Just added @WilliamShiflett to the DAQ repo.

[2019-04-04 13:45] #61 closed, assigned to achafetz, jb3436

[2019-04-04 13:53] WilliamShiflett commented on #61
Test.

[2019-04-04 13:55] WilliamShiflett opened #62 "Test"

[2019-04-04 13:55] #62 closed, assigned to nobody

[2019-04-04 15:04] pvinayak001 commented on #58
@jaliasd Please assign William once he's added to the repo.

[2019-04-04 15:04] pvinayak001 commented on #55
@shazadahmed10 Please assign William once he's added to the repo.

[2019-04-04 15:04] pvinayak001 commented on #49
@jaliasd Please assign William once he's added to the repo.

[2019-04-05 19:58] jb3436 commented on #55
## DAQ Slide 4/8

- DRT User Testing FY19Q2
    - Shazad, Faith, and Imran to test
    - Reaching out to field users to test
-  Adjusting DAQ Meeting day/ time - Doodle Poll coming
-  Calculated Indicators project moving forward
-  Genie Testing of New Semi- Long Format
- Compiled and Reviewed Genie User Report on SharePoint
- MSD Early Release Testing
- Release Notes Revision (Splitting Notes & U

[2019-04-10 18:33] shazadahmed10 commented on #49
-Add DATIM analytics or other repo links to aforementioned and existing issues
-what are known issues by Program Area? add links here
-evidence for PDH in case they aren't aware
-are issues logged or not logged?
-are issues resolved or not resolved?

-either create fresh new ticket or modify this one
-add link to this ticket on DAQ slide for inbriefs

- OVC
- TB
- TX
- Peds/PMTCT
- HSS

[2019-04-10 19:13] shazadahmed10 commented on #60
Update 3/25: All OUs have been made available through the frozen toggle in Dev Pano.

**Testing of Semi-Long format**:
   - Row limit in the genie increased to 9.5 million
   - Frozen and daily
   - Daily worked fine for all Ous - tested large Ous
   - Frozen ones had errors - the row limit error said it was too high, and the other was round filters, though there were none
   - Frozen still needs

[2019-04-10 19:17] shazadahmed10 commented on #60
Next Step: Ask for volunteers with Dev Genie access to test the Genie MSD frozen outputs

[2019-04-10 19:18] shazadahmed10 commented on #59
- Bring this issue up at the next DAQ call.
- Assign a POC to lead this endeavour.
- Form a team of maybe 3-4 ppl including Shazad

[2019-04-10 19:26] #51 closed, assigned to shazadahmed10

[2019-04-10 19:30] shazadahmed10 commented on #57
For April 2019 Huddle:

**Data Access & Quality**
MSD Update: The new semi long format of the MSD will take effect in FY19Q2. The PEPFAR systems team and DAQ will be developing an updated user guide for this new format.
ICPI R Utilities Request: If you have an enhancement request, email ICPI@state.gov.
Data Review Tool: New and updated checks have been collected from program representatives and ar

[2019-04-10 19:35] shazadahmed10 commented on #57
/remind me May 15

[2019-04-11 16:09] shazadahmed10 opened #63 "DREAMS Toggle in Genie"
Request from Prevention/DREAMS group to include a "DREAMS" toggle in Genie, so that only DREAMS SNUs are populating the data being shown.
This will reduce the need to wait for a DREAMS SNU specific MSD to be produced, which is published much later than the regular MSDs are.

Tasks:
- see if there are any DAQ tickets around this issue from the past
- look out for old emails from Kimi about this, if

[2019-04-11 17:40] shazadahmed10 commented on #63
Update: Kimi submitted a ticket in DATIM zendesk, ticket #27637

  | Thomas Hancock (DATIM Support)    Apr 11, 13:38 EDT
Hello Kimi,      Thank you for your follow up to ticket #23057,   this follow up ticket is assigned to ticket #27637.   I am routing this to the Data Genie team and we'll let you know as soon as   there is any update.      Thanks,   Thomas   DATIM Support team
-- | --

[2019-04-11 18:38] shazadahmed10 commented on #53
Update, 4/11:

User testing done on 4/9 by DAQ members.
Feedback sent to Stephanie.
DRT template and FlagList_all docs were updated to reflect errors found.
Most errors were around the flag label for TB checks, TX_TB FlagB_1-3 & 5-7 and  TB_PREV B_1

Links to [template](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Clusters/Data%20Access%20and%20Quality%20(DAQ)/Data%20Review%20Tool%20(DRT

[2019-04-11 19:08] shazadahmed10 commented on #63
Update: Response from Stephanie:

Thank you for the follow-up. We are planning this future change to the Genie, but it needs to be timed with a change to the MER Structured Datasets (they use the same database tables). We had been advertising a Q2 structure change to the MSDs and did not want to make any changes to what we pre-released to the users. The PDH and Genie team will look to fit in this

[2019-04-11 20:06] shazadahmed10 commented on #55
## DAQ Slide 4/15

### Last week:
- DRT User Testing for 19Q2
  - feedback received, some errors found
  - errors fixed in template/scripting docs
- FY20 targets will being to appear in 'live'/daily Genie
- MER Data Reporting Issues documentation project (#49 )
### This Week:
- Moving DAQ meeting time
- MSD early release user testing (two times)
- Genie Testing of New semi-long format
- Calculated

[2019-04-12 17:06] shazadahmed10 commented on #49
Issues as of: April 12, 2019:
[MER Data Reporting Issues Tracker.xlsx](https://github.com/ICPI/DAQ/files/3075251/MER.Data.Reporting.Issues.Tracker.xlsx)

MER   Data Reporting Issues Tracker |   |   | DAQ | Last updated:   4/11/19 |  
-- | -- | -- | -- | -- | --
  |   |   |   |   |   |  
  |   |   |   |   |   |  
Issue | Desired Solution | Date Started | System | Program Area | Resolved? | Ticket/e

[2019-04-15 17:58] shazadahmed10 commented on #55
## DAQ Slide 4/22

### Last week:
 - MSD New Format Early Release Testing (session 1)
 - DAQ meeting time doodle poll (closes 4/24)

### This week:
 - MSD New Format Early Release Testing (session 2, 4/23)
 - MSD Users Guide Revisions Project
 - Updating MSD materials to reflect new format
 - Calculated Indicators documentation

### Reminders:
 - FY20 Targets available in "daily" Genie
 - MER Data

[2019-04-16 20:50] shazadahmed10 opened #64 "Q4 DRT Prep"
(from Steph) Q4 - need to plan the additions for Annual indicators - HRH ones from Travis and the GEND_GBV as well as any changes/additions for Semi-Annual such as the one for Prevention indicators below.  #65

Suggested Timeline:
- Solicit any additional feedback in August ??
- Finalize list/ sign-off from Program by end of August
- Build changes in early September
- Test at end of September (aft

[2019-04-17 21:12] shazadahmed10 opened #65 "KP_PREV DRT Check"
See https://github.com/ICPI/HSS-KP/issues/23.

Meeting with Travis on Friday 4/18 to discuss nature of potential KP-PREV checks and gain better understading of the ask.
May be able to incorporate into 'clean' Q2 DRT, depending on intensity of the ask.

[2019-04-19 17:47] shazadahmed10 commented on #65
Met with Travis on 4/19.

**KP Subgroups**: PWID, MSM, FSW, in prison, TG
**KP_PREV disaggs**: KeyPop, KeyPopStatus

Two types of checks are desired. Each type of check for each KP subgroup (MSM, FSW, TG, Prison, PWID):
This would be more easily done if calculated indicators were developed for each sub group for each standardizeddisaggregate.

 - Check Type 1:
Is the sum of the sub group from KeyP

[2019-04-19 18:28] shazadahmed10 commented on #65
Emailed Stephanie on 4/19 to get sense of LOE.

[2019-04-19 18:47] #53 closed, assigned to shazadahmed10, jaliasd, HoustonJamie, nmcarloni

[2019-04-22 16:00] jb3436 commented on #59
William is spearheading updates to the Genie User Guide - we will merge this project around the MSD user guide with what he has developed.  The projects can be consolidated and highlight different data access points - Genie and Pano.

During DAQ Call on 4/22 @WilliamShiflett and @faithfawale volunteered to work on updating screen shots in user guide, language, and updating  aliyah's presentation o

[2019-04-22 16:09] jb3436 commented on #48
MSD new Structure Testing
--
Facilitated sessions led by Stephanie to get feedback on new structure and give ICPI analysts opportunity to udpated templates, code, tools with the new format.

Session 1 - 4/18 Notes
--
**Summary of Action Items from 4/18  meeting:**

1. For Data users/specialists/ICPI:  In your tests of the new data, you may also want to look at the DREAMS dataset with &quot;mock&qu

[2019-04-22 16:15] jb3436 commented on #59
Cheat Sheets to be Updated to support User Guide
--

### Status
- [ ] HTS @shazadahmed10
- [ ] PMTCT @KatieOC
- [ ] Treatment @imujawar to connect with @MicSherlock
- [ ] TB @cnichols3h
- [x] OVC @shapaklyak and @erinschelar , @faithfawale draft of OVC pivot courtesy of @faithfawale stored [here ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2F

[2019-04-22 16:22] jb3436 commented on #58
DAQ Meeting Update 4/22

![image](https://user-images.githubusercontent.com/13006198/56510917-362c0680-64f9-11e9-9130-2a63f9c57d85.png)

[2019-04-26 19:24] WilliamShiflett commented on #59
A few updates, @jb3436:

- the updated Genie User Guide is currently pending review by Mark https://github.com/pepfar-datim/Global/issues/4830. As you said, this can be the "skeleton" around which we'll merge the MSD User Guide update, with ICPI specialists filling in specific sections as/if needed.

- I reached out to Aliyah to confirm that the MER Structured Dataset Overview PPT here https://tin

[2019-04-29 13:21] faithfawale commented on #59
Hi Will @WilliamShiflett

Yes, I believe this is the most updated version of the  MER Structured Dataset Overview PPT. I've updated the images in the PPT to reflect changes in Q2. I will also be incorporating trends over time slides into the presentation.

[2019-05-08 19:08] shazadahmed10 opened #66 "HRH_STAFF name change (announce to ICPI)"
announce on inbrief/ DAQ meeting that:

 - HRH_STAFF to be named HRH_STAFF_NAT in DATIM only
 - still called HRH_STAFF in Pano, MSD and Genie
 - name divergence until Q4 data entry/october
 -  OGAC will include this in data release notes

[2019-05-08 19:10] shazadahmed10 commented on #55
## DAQ Slide 5/20

### Activities
 - MSD New Format Early Release Testing (session 2, 4/23)
 - MSD Users Guide Revisions Project
 - Updating MSD materials to reflect new format
 - Calculated Indicators documentation
 -

### Reminders:
 - Announcement: HRH_STAFF now HRH_STAFF_NAT in DATIM until Q4 data entry
 - FY20 Targets available in "daily" Genie
 - MER Data Reporting Issues documentation proje

[2019-05-09 14:41] shazadahmed10 commented on #66
Comments:  I think from our (ICPI and HRH iSME) perspective, the important things moving forward are:
1)	It remains in the MSD and the PAWS dynamic datasets with a consistent name for all years
2)	It isn’t mistakenly put into IMPATT, which contains the other _NAT suffix indicators.
3)	It’s still a required indicator with just as much importance on ensuring reporting quality at the site level as an

[2019-05-10 14:45] shazadahmed10 opened #67 "AGYW_PREV in Genie - no data"
AGYW_PREV does not appear in Genie daily even though several OUs have already reported on it. Data can be seen in DATIM pivot app, but not Genie.

Tonji will send a help desk ticket.

Shazad sent a help desk ticket: https://datim.zendesk.com/hc/en-us/requests/27951

[2019-05-10 16:27] #60 closed, assigned to imujawar, mehtasp, faithfawale

[2019-05-10 17:15] shazadahmed10 commented on #59
**Update on MSD PPT (5/10):**
 - Faith sent Shazad updated PPT
 - Shazad sent feedback to Faith for additional revisions
 - due date: 5/14  @faithfawale

[MER Structured Dataset Overview_04242019_SA edits.pptx](https://github.com/ICPI/DAQ/files/3167493/MER.Structured.Dataset.Overview_04242019_SA.edits.pptx)

[2019-05-10 17:23] shazadahmed10 opened #68 "MER Cheat Sheet Updates for Q2 Initial"

[2019-05-10 17:33] shazadahmed10 commented on #49
Updated: issues as of May 10, 2019:
[MER Data Reporting Issues Tracker 05102019.xlsx](https://github.com/ICPI/DAQ/files/3167547/MER.Data.Reporting.Issues.Tracker.05102019.xlsx)

Issue | Desired Solution | Date Started | System | Program Area | Resolved?
-- | -- | -- | -- | -- | --
TX_NEW   disagg Pregnant is not showing any results for FY19 Q1 but should be pulling   from PMTCT_ART (Life-long ART,

[2019-05-10 17:37] shazadahmed10 commented on #49
To-do: follow up on these items @shazadahmed10

[2019-05-10 17:40] shazadahmed10 commented on #68
Cheat Sheets to be Updated to support User Guide
--

### Status
- [ ] HTS @shazadahmed10
- [ ] PMTCT @KatieOC
- [ ] Treatment @imujawar to connect with @MicSherlock
- [ ] TB @cnichols3h
- [ ] OVC @shapaklyak and @erinschelar , @faithfawale draft of OVC pivot courtesy of @faithfawale stored [here ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2F

[2019-05-10 17:41] shazadahmed10 commented on #68
Previously existing cheat sheets/training pivots:

[Training Pivots_TX_OVC_PMTCT_VMMC_v1_0_20181211.xlsx](https://github.com/ICPI/DAQ/files/3167569/Training.Pivots_TX_OVC_PMTCT_VMMC_v1_0_20181211.xlsx)

[2019-05-10 17:42] shazadahmed10 commented on #68
Plan:
 - figure out which data to use in updated training pivot (mock or in-process)
    - if mock, how to update mock dataset with current data
 - check up on timeline for POCs for updating
 - whether to merge back into one file

[2019-05-10 21:47] WilliamShiflett commented on #59
@faithfawale , below, please find the hybrid Genie/MSD Users Guide and Data Dictionary. Please review and flag any missing sections, errors, etc.

[Updated_MER.Structured.Dataset.User.s.Guide.and.Data.Dictionary.20190510.v1.2.docx](https://github.com/ICPI/DAQ/files/3179350/Updated_MER.Structured.Dataset.User.s.Guide.and.Data.Dictionary.20190510.v1.2.docx)

@shazadahmed10  @jb3436  @oharasl

[2019-05-14 13:40] shapaklyak commented on #49
taking myself off this, fyi @erinschelar see OVC issues above. @jleehurst and @faithfawale

[2019-05-23 13:04] shazadahmed10 commented on #66
Update 5/23: Announced to ICPI and notes on Pano an SGAC emails as well

[2019-05-23 13:04] #66 closed, assigned to shazadahmed10

[2019-05-24 19:59] shazadahmed10 commented on #68
Update from 5/23 meeting:

Shazad to reach out to Faith on OVC progress. Shazad to revive this GH issue to get everyone implicated on board.

Try to get done by end of June.

Issues: which data to use (mock or real), expand the indicators?

[2019-05-24 20:00] shazadahmed10 commented on #67
Issue was resolved on 5/16 in PM..now available

[2019-05-24 20:00] #67 closed, assigned to shazadahmed10

[2019-05-24 20:01] shazadahmed10 commented on #59
Update from 5/23 meeting:

-add language about OUxIM exceeding excel row limit (@WilliamShiflett )
- Link to software import codes is broken.
- Need to update the code for importing into software, and fix the link. (R and SAS)
- Shazad will reach out to individuals for codes.

Get this fixed for Clean Q2 release

Also, revisit idea of splitting up the MSD users guide into one pager, and repeated i

[2019-05-24 20:12] shazadahmed10 commented on #57
For May 2019 Huddle:

MSD Update: The new semi long format of the MSD has been released. Please see MSD users guide for more information.
Calculated Indicators: DAQ will be documenting the work flow for calculated indicator production between data entry, PDH, and datasets.
DAQ training materials are being updated to reflect new MSD structure.
MER data reporting issues tracker: Please inform DAQ of

[2019-05-24 20:14] shazadahmed10 commented on #58
DAQ Meeting Update 5/23:

May 31 for feedback on current iteration of document. Who is audience? Current version is in middle, not enough info for re-creation, too much info for non-analysts. Jamie sent doc to Josh, Catherine, Erin, Faith, Anu to collect feedback.

[2019-05-24 20:15] shazadahmed10 opened #69 "MER Completeness Analysis Issues"
Due to auto population to total N and total D from age/sex disaggs, completeness analyses no longer possible

[2019-05-24 20:16] shazadahmed10 opened #70 "Genie Requests"
From 5/23 DAQ meeting:

Genie: FY17 is available now in the fiscal year drop down in ‘frozen’ Genie. However, FY17 is still not in the drop down in ‘Daily’.  Shazad to follow up to ticket created earlier in the week
 - Downloading MSDs from Genie in the future: Josh: DAQ should take a stance on downloading in Genie vs. Pano, and let Will/systems know our position. DAQ to discuss at next meeting.

[2019-05-24 20:17] shazadahmed10 opened #71 "Downloading MSDs in future"
Genie vs Pano?

DAQ should take a stance on this and inform systems of our preference(s)

[2019-05-30 20:40] anu87 opened #72 "Nigeria SNU prioritization levels missing"
Scale-up level is missing in SNU prioritization data for Nigeria.

[2019-05-30 21:03] WilliamShiflett commented on #72
@anu87 , Thank you for flagging this. Can you specify the MSD in which the SNU prioritization data is missing for Nigeria?

[2019-05-30 21:04] WilliamShiflett commented on #72
@oharasl FYI

[2019-05-30 21:07] anu87 commented on #72
@WilliamShiflett This is the case in Site level data in PAW and Site x IM MSD.

[2019-05-31 08:12] aliyahwakil commented on #59
@WilliamShiflett @faithfawale @shazadahmed10 is the MSD overview powerpoint finalized or is there still a working draft?

[2019-05-31 13:22] oharasl commented on #72
@anu87 can you please email us or log a ticket here: https://datim.zendesk.com/hc/en-us/requests/new
For issues in the PRIME systems, we need to track it officially and the ICPI repo is not ideal for ticket resolution (public site and it's outside of our domain).

[2019-05-31 13:23] WilliamShiflett commented on #72
@anu87 , would you please create a ticket for this issue via the help desk? This helps us organize and triage incoming tickets and assign them to different repositories.

For this issue, we will need to investigate why we do not have prioritization for Nigeria.

[2019-05-31 16:26] anu87 commented on #72
@WilliamShiflett @oharasl Submitted a ticket on Zendesk.

[2019-06-05 19:47] anu87 commented on #72
@WilliamShiflett @oharasl @wvp3 I checked with someone from Nigeria team - for FY19 they don't have scale-up, only sustained level - thus there are no data in Scale-up SNU prioritization level.

[2019-06-05 19:47] #72 closed, assigned to shazadahmed10, jb3436, WilliamShiflett, wvp3

[2019-06-14 19:17] shazadahmed10 opened #73 "PLHIV Data Available for Analytics- NAT SUBNAT"
Jasmine: I would also like to add a request around getting the PLHIV data from the datapacks into the PDH and pushed out so they are available in MSD, Genie, and PAWS.  Does anyone know if there is a plan for this already and if so what is the timeline?

Stephanie: We don’t yet have a plan, but thank you for the request—we can create a ticket and try to understand the priority with our other activ

[2019-06-14 19:25] shazadahmed10 commented on #55
## DAQ Slide 6/17

### Activities
 - DAQ meeting tomorrow, 6/18
 - MER Cheat Sheets
 - MSD Users Guide Revisions
 - Calculated Indicators documentation
 - Genie user testing on filter selections

### Reminders:
 - FY20 Targets available in "daily" Genie
 - MER Data Reporting Issues documentation project (#49 )
 - Data Cleaning ends on Friday, June 21

[2019-06-14 20:04] jb3436 commented on #73
@shazadahmed10  through the import process, those data should be available in DATIM.
@oharasl I suggest setting up a meeting with Scott to talk through the status of the datapacks for all OUs and get his recommendation on next steps.

This is incredibly overdue and is really important for the panorama redesign process as a lot of the calculations in the analytics rely on the agreed upon PLHIV valu

[2019-06-14 20:06] jb3436 commented on #71
Genie makes more sense. The functionality needs to be built out more to make it more useful.
Getting the data from genie would reduce labor on having to update R code to trim the dataset each quarter.
It would make it easier for country teams to use the ICPI products using their daily datasets.

[2019-06-17 15:01] jb3436 opened #74 "Infographic: Indicator Snapshot Summing"
Infographic Update
--

Snapshot and other indicators
What is summed when

Cumulative indicators = Q1+Q2+Q3+Q4 = APR
Snapshot Indicators = Q2, Q4, APR = Q4
Revise the below document
![image](https://user-images.githubusercontent.com/13006198/59613698-5f2dd980-90ed-11e9-8abf-f0a9be29b1aa.png)

[2019-06-18 12:53] oharasl commented on #73
Hi all,

While this has been talked about, it is not yet on the radar for the PRIME Systems teams, especially for downstream systems' requirements. Could someone please start a Zendesk ticket or send an email to start the request?

Just a reminder that ICPI is a public repo, and we need this to become an official request to PRIME systems.

Thank you!!

Stephanie O'Hara
CTC, Inc.

[2019-06-18 15:37] jaliasd commented on #73
We've done this, can discuss on the daq call today.

[2019-06-18 16:10] jb3436 commented on #73
Global Ticket #1719 covers the request and requirements.

I just learned that the project that Scott is leading is called the "DataMart" project, which will be the process to get the PLHIV estimates into the PDH from DATIM. @jaliasd , would you feel comfortable reaching out to Scott to see status updates?

[2019-06-18 16:16] oharasl commented on #73
FY2020 PLHIV data is already in PDH, so the global ticket is complete in my mind.

I am just confused by what all needs to be included as output to satisfy this request. If we shape it a little for the downstream systems team, it should be easy to fulfill. Unfortunately the requirement hadn't yet reached us. Let's talk just before/after/during the DAQ meeting

[2019-06-18 16:33] jb3436 commented on #73
Cool! Then we can figure out how to access it in PAWS and the MSD.

[2019-06-18 19:53] jb3436 commented on #73
Status
--

- **ACTION**: Review Nat-SubNat Report to see if the structure is okay or if it needs to be updated
- **STATUS**: Currently data are almost ready. They are in PDH, but a few data issues need to be resolved before it is "approved" for use.
- **TIMELINE**: Likely to be released at FY19Q3. Could be available earlier for FY19Q2 Clean Fast Follow

Step 1 is data are available
Step 2 is Denom

[2019-06-19 20:38] shazadahmed10 commented on #68
Update from 6/18 DAQ meeting:

@aliyahwakil & @anu87 will lead efforts on updating the pre-existing file (see above)
@kimisatoPC  & @erinschelar will create a new file for AGYW_PREV and update the OVC pivots

Kickoff meeting on Thursday 6/20 at 2:30 in N. America being led by Shazad.

Requirements:
 - HTS, PMTCT, TX, TB, OVC, AGYW_PREV training pivots
 - update pre-existing pivots with new structu

[2019-06-20 18:55] shazadahmed10 commented on #68
Meeting Notes

- Use one OU, one that has reported on all disaggs for all implicated indicators (Botswana)
- wait until clean MSDs are released
- HTS will be stand alone file again
- @shazadahmed10 to send HTS file

[2019-06-21 16:43] shazadahmed10 commented on #71
Feedback from 6/18 DAQ mtg: We need to gather feedback on use cases and requirements for users if this function was to be migrated to the Genie.

Potential next step: Bring this up as a discussion item for the inbrief to get feedback. This implication goes beyond DAQ members

[2019-06-21 18:27] shazadahmed10 commented on #59
Update:

Updated the link in the users guide for the SP page on software import code into SAS and R.
Also update the paragraph about importing into software to say OUxIM is no longer directly importable into Excel. Sending now to system team.
[Users Guide Adtl Info Paragraph.docx](https://github.com/ICPI/DAQ/files/3315675/Users.Guide.Adtl.Info.Paragraph.docx)

[2019-06-21 18:27] #59 closed, assigned to shazadahmed10, WilliamShiflett

[2019-06-24 01:16] WilliamShiflett commented on #59
Thanks, @shazadahmed10 ! I've updated the User Guide / Data Dictionary with your update. The final version is below.

[Updated_MER.Structured.Dataset.User.s.Guide.and.Data.Dictionary.20190510.Final.docx](https://github.com/ICPI/DAQ/files/3335722/Updated_MER.Structured.Dataset.User.s.Guide.and.Data.Dictionary.20190510.Final.docx)

[2019-06-26 12:52] shazadahmed10 commented on #71
Feedback from 6/24 inbrief:

- If filtering in Genie, meta data information should be shared – transparency
- Old data is currently not in Genie, that would be needed
- Full download of everything needed seamlessly from Genie.
- Will API work? Folks have crashed server trying to do this
- MOH alignment data availability in DATIM/Genie?  Anna Naguro invited to come to ICPI and present. Jasmine can

[2019-06-28 20:21] shazadahmed10 opened #75 "Q3 Changes to the MSD - tracker"
Keeping track of changes to MSD from ICPI and OGAC:
[DAQ Q3 MSD changes.docx](https://github.com/ICPI/DAQ/files/3340758/DAQ.Q3.MSD.changes.docx)

[2019-06-28 20:28] shazadahmed10 commented on #55
## DAQ Slide 7/1

### Activities/Announcements
 - DAQ meeting on 7/2; reviewing Q3 MSD changes
 - MER Cheat Sheets (HTS, PMTCT, OVC, TX, TB) (#68)
 - Assessing future home of MSDs (Genie vs Pano) (#71)
 - Accessing PLHIV data in DATIM/Pano (#73)
 - Q3 Pre-release MSDs available 7/25

### Reminders:
 - FY20 Targets available in "daily" Genie
 - MER Data Reporting Issues documentation project (#49 )

[2019-07-01 17:51] jb3436 opened #76 "Check Global Data Cleaning Favorites"
Check Global Data Cleaning Favorites
--
Request from Data Management Call: DAQ to participate in the review of the data cleaning favorites to be released
Due: Monday 7/1
Finalized 7/3
Email Subject: COP19 DATIM target cleaning favorites

### DATIM Global Cleaning Favorite Name
*See attachment for assignmetns.  [Copy of COP19 Target Cleaning DATIM Favorites v2_Assignments.xlsx](https://github.com/I

[2019-07-01 19:19] shazadahmed10 commented on #76
Checked all of the ones assigned to me(HTS)...the correct data elements are pulled in - these are good to go.

[2019-07-01 19:53] vanamala-narasimhan commented on #76
Check all blue favorites - correct data elements assigned

[2019-07-02 17:27] #76 closed, assigned to shazadahmed10, jb3436, vanamala-narasimhan

[2019-07-03 14:33] jb3436 commented on #76
Methods
--
Checked cleaning favorites in list from Couper [against 2020 target data entry screens](https://datim.zendesk.com/hc/en-us/articles/360001143166-DATIM-Data-Entry-Form-Screen-Shot-Repository) and [datapack guidance](https://www.pepfar.net/OGAC-HQ/pr/cop/SitePages/Home.aspx)

All elements match. Two inconsistencies noted in naming convention of a few disaggregates.
![image](https://user-i

[2019-07-03 14:59] jb3436 commented on #76
Roha cleared the cleaning favorites to be pushed to prod with the naming updates suggested

[2019-07-03 17:40] jb3436 commented on #76
Send the below links in response to a request by Tim who wanted to ensure that he got the correct favorites.

Name | UID | Link
-- | -- | --
PEPFAR FY20 Targets PMTCT_STAT (Denominator) D Age/Sex Completeness   Review Pivot | JclrTijEjUm | https://pilot-analytics.datim.org/dhis-web-pivot/index.html?id=JclrTijEjUm
PEPFAR FY20 Targets PMTCT_STAT (Numerator) N   Age/Sex/KnownNewResult Completeness Re

[2019-07-11 20:43] aliyahwakil commented on #68
Training pivots status:
- [ ] HTS - in progress
- [x] PMTCT - completed
- [x] TX - completed
- [ ] TB - in progress
- [x] OVC - in final review
- [x] AGYW_PREV - final version posted to DREAMS folder

[2019-07-16 19:22] jleehurst commented on #68
@aliyahwakil @erinschelar
The completed OVC Cheat Sheets Pivot has been uploaded in the designated cheat sheet folder on Pepfar.net. We can mark as complete.

[2019-07-19 22:11] jb3436 commented on #73
Available

[2019-07-19 22:11] #73 closed, assigned to shazadahmed10, jaliasd, jb3436

[2019-07-23 16:04] shazadahmed10 commented on #68
Thanks all for updating!  New [link](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTraining%2FMER%20Cheat%20Sheets%20%28Training%20Pivots%29&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D&InitialTabId=Ribbon%2EDocu

[2019-07-23 16:04] #68 closed, assigned to shazadahmed10, anu87, aliyahwakil, kimisatoPC, petersonml

[2019-07-23 19:17] jb3436 commented on #56
This report has been updated by Stephanie
@shazadahmed10 will upload new version in folder
@shazadahmed10 and Stephanie will determine where this report should live in the future

[2019-07-23 19:33] jb3436 commented on #50
Draft Questions
--
How are you using the genie?
What action items do you take from it?
What is missing?
What is not needed?

[2019-07-26 15:15] shazadahmed10 opened #77 "ETL Changes for MSD"
In May 2019 the PRIME / PDH team changed the Extract, Transform, Load (ETL) process for how structured datasets are loaded. Previously Scott/Abe had an interim table called ICPI_FactView, which last year became MSD_source. This table captured all of the overrides and many special case statements needed for structured datasets.
The PRIME / PDH team moved to get rid of this step entirely and have st

[2019-07-26 15:35] shazadahmed10 commented on #77
@jb3436  @jaliasd
Do you all think there are any negative impacts from these changes?
I looked at each point and didn't see any harm in these changes - they all made sense to me.

[2019-07-26 15:39] shazadahmed10 commented on #77
Action Item: respond to Stephanie verifying the impact of the changes.
Reached out to Josh/Jasmine for their thoughts.

[2019-07-26 15:43] shazadahmed10 commented on #75
Also see changes to ETL process to see silent changes that started in clean Q2. #77

[2019-07-26 15:43] #75 closed, assigned to shazadahmed10

[2019-07-26 15:44] shazadahmed10 commented on #64
Updated timeline:
Collect and compile all feedback by August 16.
Then share with Stephanie

[2019-07-26 15:45] shazadahmed10 commented on #64
Handful of checks provided by Mozambique team (POC: Joel C.)
Expecting list of checks from Tanzania team (POC: Nadia S.)

[2019-07-26 15:47] shazadahmed10 commented on #56
Permanent folder moved to [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FData%20Access%20and%20Quality%20%28DAQ%29%2FGenie%20Users%20Report%20%28quarterly%29&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D)

[2019-07-26 16:01] #56 closed, assigned to shazadahmed10, jb3436

[2019-07-26 18:39] shazadahmed10 commented on #75
Context for DUNS:

Hello DATIM Users,
PEPFAR is improving data quality and integrity by ensuring that all implementing partners in PEPFAR are identified using their DUNS numbers, rather than the system-generated IDs that were previously used. A Data Universal Number System (DUNS) is a unique 9-digit number used by the US Government to uniquely identify an organization. PEPFAR is transitioning its

[2020-02-27 20:05] jaliasd opened #78 "revise/update DAQ SOW"
@shazadahmed10 lets schedule sometime to talk about this

[2020-08-04 19:56] #46 closed, assigned to shazadahmed10, jaliasd, gsarfaty, imujawar, abeagedew, noahbartlett, aliyahwakil, bshook

[2020-08-04 19:56] #28 closed

[2020-08-04 19:56] #48 closed, assigned to jaliasd, achafetz, jb3436, imujawar, abeagedew, noahbartlett, HoustonJamie

[2020-08-04 19:56] #63 closed, assigned to shazadahmed10, kimisatoPC

[2020-08-04 20:02] #77 closed, assigned to shazadahmed10

[2020-08-04 20:04] shazadahmed10 opened #79 "Server Access"
- MStrio R package needed for access to MicroStrategy databases
- OpenVPN needed for access to Redshift server - PDH (similar to SQL databases Abe had access to)

Action Items:
can CDC/USAID allow access via OpenVPN?
Use cases?

[2020-08-04 20:14] shazadahmed10 opened #80 "FY21 Targets in Site x IM MSD"
Situation: FY21/COP20 Targets were set at PSNU level, not at Site level. The SitexIM MSD currently has FY21 PSNUxIM Targets, and they are unique rows, in addition to all of the SitexIM rows of data.

Issue: The PSNUuid and PSNU name are showing up in the OrgUnitUID and SiteName columns. Also, site type shows up as 'other' for these rows.
These can be confusing for a user who either:
a.) would not

[2020-08-04 20:16] shazadahmed10 opened #81 "20Q4 DRT checks - LAB_PTCQI"

[2020-08-04 20:17] #64 closed, assigned to shazadahmed10

[2020-08-04 20:17] #65 closed, assigned to shazadahmed10, wvp3

[2020-08-04 20:21] shazadahmed10 opened #82 "Site Count Analyses"
Work with OGAC to document dossiers and other analytics that use Ste Count metrics.
Then work on documentation of standardization of 'site' and ways to analyze properly. Agency/IM level or not?

[2020-08-04 20:24] shazadahmed10 commented on #82
[Site counts in Panorama Dossiers.docx](https://github.com/ICPI/DAQ/files/5024337/Site.counts.in.Panorama.Dossiers.docx)

[2020-08-04 21:51] shazadahmed10 opened #83 "DATIM validation rules vs DRT checks"
find out what checks are in the DRT and not in DATIM validation. Will is asking as part of bigger endeavor on OGAC side

**Potential solutions**: perhaps create a column in the DRT flag_list doc that says in DATIM validation? Y/N
or just a doc that houses all DRT checks not in DATIM validation

[vr_rules_annotated.xlsx](https://github.com/ICPI/DAQ/files/5024827/vr_rules_annotated.xlsx)

[2020-08-05 16:16] shazadahmed10 commented on #83
Update: 8/5/2020

Roha is now wondering if we should aim to have 1 validation document/spreadsheet and inidcate on each validation if it's in DATIM, DRT or both or suggested in MER2.5 but not in either yet.  Then it's easier to sort out action items, any additions, etc.
Roha pointed out that we could have a list of all possible validations, flags for where they currently exists. DATIM, DRT, MER 2.

[2020-08-11 16:38] jessihandy commented on #82
Not sure if there have been additional changes since this iteration, but Janice had provided edits to the above document. Attaching for any interested.

[Site counts in Panorama Dossiers.docx](https://github.com/ICPI/DAQ/files/5058202/Site.counts.in.Panorama.Dossiers.docx)

[2020-09-09 18:45] oharasl opened #84 "Genie testing and feedback - new download options"
Aiming for an October 2020 release, there will be 2 new options in Genie that allow a user to schedule large reports to be generated. This allows the Genie Server to process & zip up the report and leaves a link to the download for the user to come back and start the download anytime within a 48 hour window.

- This has been built out in Genie dev and is ready for early testing & feedback
- These

[2020-09-09 19:55] oharasl commented on #84
Questions/Feedback so far:
-- Is there a row limit right now of 9.5 million rows or was that taken off?
-- If someone starts a download, would it resume if they are cut off? Not necessarily, it is manual. The link should stay available for 48 hours
-- the Pop-up that directs you to My Downloads is cut off - can that be better positioned?
-- On the "My Downloads" - for each item, give a metric of h

[2020-09-09 20:26] shazadahmed10 commented on #84
More feedback:

-- add an indicator column in the "my downloads" table, perhaps next to funding agency. A common filter that users use is the indicator filter
-- adding a cancel button in case user no longer wants a request
-- moving the 'export now' limit back to 9.5 millions rows assuming the scheduled exports can go past this row limit
-- what happens if a scheduled request exceeds whatever the

[2020-09-11 19:44] jptogbe commented on #84
@shazadahmed10 **see below responses to your feedback as discussed by the team in the Genie call yesterday:**

- The green "Export" button will be modified to work the same way as it was before - meaning it will only be disabled when the 9.5 million rows limit is hit. (Currently 1.5 mil rows disables it).
- As long as the download link stays up (48 hrs), folks will be able to download their datase